
{% load static %}

<footer id="footer" class="container-fluid bg-primary text-white bg-opacity-75">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-4 col-12 text-lg-start text-center">
                <h3 class="pb-5">Як нас знайти?</h3>
                <address>
                    <h5>Графік роботи</h5>
                    <p class="pb-3"> {{ work_schedule.days }} {{ work_schedule.hours }}</p>
                    <h5>Адреса</h5>
                    <p class="pb-3">Україна, м. Харків, вул. Юр'ївська 17</p>
                    <h5>E-mail</h5>
                    <p class="pb-3">{{ contact_email.email }}</p>
                    <h5>Телефон</h5>
                    <p class="pb-3"> +{{ phone_number.phone_number }}</p>
                </address>
            </div>
            <div class="col-lg-8 col-12">
                <div class="ratio ratio-21x9">
                    <iframe loading="lazy" lang="UA" allowFullScreen
                            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJR6Pc65SgJ0ERRoacULGiYRs&key=AIzaSyCwEJygjiI8XUaBEC7NChZaj_nH6hFwa_Q"></iframe>
                </div>
            </div>
        </div>
    </div>
</footer>