{% load static %}

<footer id="footer" class="container-fluid bg-primary text-white bg-opacity-75">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-4 col-12 text-lg-start text-center">
                <h3 class="pb-5">Як нас знайти?</h3>
                <address>
                    <h5>Графік роботи</h5>
                    <p class="pb-3"> {{ work_schedule.days }} {{ work_schedule.hours }}</p>
                    <h5>Адреса</h5>
                    <p class="pb-3">Україна, м. Харків, вул. Юр'ївська 17</p>
                    <h5>E-mail</h5>
                    <p class="pb-3">{{ contact_email.email }}</p>
                    <h5>Телефон</h5>
                    <p class="pb-3"> +{{ phone_number.phone_number }}</p>
                </address>
            </div>
            <div class="col-lg-8 col-12">
                <div class="ratio ratio-21x9">
                    <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.9659213485334!2d36.252760776641814!3d49.9932483715085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a094ebdca347%3A0x1b61a2b1509c8646!2sYur&#39;ivs&#39;ka%20St%2C%2017%2C%20Kharkiv%2C%20Kharkivs&#39;ka%20oblast%2C%20Ukraine%2C%2061000!5e0!3m2!1sen!2spl!4v1724768478084!5m2!1sen!2spl"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</footer>