{% load static %}

<header class="mb-0 bg-white">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                            Товари
                        </a>
                        {% if categories %}
                          <ul class="dropdown-menu">
                            {% for category in categories %}
                              <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">{{ category.name }}</a>
                                <ul class="dropdown-menu">
                                  {% if category.products %}
                                    {% for product in category.products %}
                                      <li>
                                        <a class="dropdown-item" href="#">{{ product.name }}</a>
                                      </li>
                                    {% endfor %}
                                  {% else %}
                                    <li>
                                      <a class="dropdown-item" href="#">No products available</a>
                                    </li>
                                  {% endif %}
                                </ul>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Послуги
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item">
                                <!-- Послуга 1 -->
                            </li>
                            <li class="dropdown-item">
                                <!-- Послуга 2 -->
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Як нас знайти?</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Пошук товарів"
                           aria-label="Search"/>
                    <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</header>
