{% load static %}

<header class="mb-0 bg-white">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static '/images/vector-stal.svg' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown" id="first-dropdown">
                        <p class="d-inline-flex">
                            <a class="nav-link" href="{% url 'store:product-list' %}">
                                Товари
                            </a>
                            <button class="btn-span btn-dropdown">
                                <span class="dropdown-toggle btn-dropdown-span"></span>
                            </button>
                        </p>
                        {% if categories %}
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                            <li class="nav-item dropend submenu">
                                <p class="d-inline-flex">
                                    <a class="dropdown-item" href="{% url 'store:product-list' %}">{{ category.name }}</a>
                                    <button class="btn-span btn-dropend">
                                        <span class="dropdown-toggle btn-dropend-span"></span>
                                    </button>
                                </p>
                                <ul class="dropdown-menu">
                                    {% if category.products %}
                                    {% for product in category.products %}
                                    <li>
                                        <a class="dropdown-item" href="{% url 'store:product-detail' product.pk %}">{{ product.name }}</a>
                                    </li>
                                    {% endfor %}
                                    {% else %}
                                    <li>
                                        <a class="dropdown-item" href="#">No products available</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#about">Про нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer">Як нас знайти?</a>
                    </li>
                </ul>
                <form class="d-inline-flex" id="search-form" role="search" method="get" action="{% url 'store:product-list' %}">
                {{ search_form.as_p }}
                <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</header>