{% extends "base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<section class="product-detail container my-3">
    <div class="row">
        <figure class="product-main-img col-lg-5">
            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
        </figure>
        <article class="col-lg-7">
            <div class="product-main-description ">
                <h6 class="product-category text-bold my-3">Категорія: {{ product.category }}</h6>
                <h1 class="product-title text-bold my-3">{{ product.name }}</h1>
                <p class="product-price mb-5">{{ product.price }}</p>
            </div>
            <div class="product-details my-3">
                <p class="product-details-title fw-bolder mb-1">Про товар</p>
                <p class="product-details-description mb-5">
                    {{ product.description }}
                </p>
                <p class="fw-bolder mb-1">Розмір:</p>
                <p class="product-details-size-size">{{ product.size }}</p>
            </div>
        </article>
    </div>
</section>
{% endblock %}